* {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}

/* ---------------- CABEÇALHO (INÍCIO) ------------- */

header {
    background-color: #7030a0;
    width: 100%;
    height: 70px;
}

#cabecalho {
    color: white;
    padding-top: 2px;
    padding-left: 30px;
}

.logoo{
    position: absolute;
    margin-left: -151px;
    margin-top: -16px;
    transform: scale(0.4);
}

.marca {
    font-size: 24px;
}

#circulo {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #0DCAF0;
    margin-left: 90px;
    margin-top: -18px;
}

#place {
    color: #0DCAF0;
    margin-left: 168px;
    margin-top: -44px;
}

.search-box {
    position: absolute;
    top: 17px;
    right: 250px;
    background-color: white;
    height: 25px;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    width: 750px;
    font-size: 15px;
    padding: 0;
    transition: 0.4s;
    padding-left: 3px;
}

::-webkit-input-placeholder {
    font-size: 15px;
    color: #aeaeae;
}

.search-btn {
    color: #0DCAF0;
    transform: scale(1.2);
}

.entrar {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15px;
    right: 110px;
}

.entrar-btn {
    text-decoration: none;
    border: 0;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #aeaeae;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: #00b191;
}

.cart {
    position: absolute;
    top: 26.5px;
    right: 65px;
    transform: scale(1.5);
}

.cart-btn {
    color: #00b191;
}

.sair{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15px;
    right: 110px;
}

.sair-btn{
    text-decoration: none;
    border: 0;
    width: 45px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #aeaeae;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: #00b191;
}

/* --------------- CABEÇALHO (FIM) ---------------- */

/* --------------- NAVEGAÇÃO (INÍCIO) ------------- */

/* -------- DIV01 -------- */

#conteiner-a{

 background-color: #EEEDED;
 margin-top: 15px;
 margin-left:174px;
 display: inline-block;
 width: 24%;

 font-family: 'Poppins';
 font-style: normal;
 font-weight: 100;
 font-size: 12px;
 line-height: 25px;
 letter-spacing: 0.10em;
 color: black;
 border-radius: 1px;
 }
 
 .dados{
    padding: 3px;
    margin-left: 4px;
    font-size: 14px;

 }
 .nome{
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
 }
.cpf{
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;

}
.email{
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;

}
.Cep{
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;

}
.endereço{
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;

}
.numero{
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
    width: 70px;

}
.complemento{
    border-radius: 5px;
    padding: 2px;
    margin-left: 35px;
    
}

.bairro{
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
    width: 25%;

}

.cidade{
    border-radius: 5px;
    padding: 2px;
    margin-left: 25px;

}

/* ---------- DIV02 -------------*/ 

#conteiner-b{
    background-color: #EEEDED;
    margin-top: 15px;
    display: inline-block;
    margin-left: 20px;
    width: 26%;
    position:absolute;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.10em;
    color: black;
}
.pag{
    padding: 5px;
    margin-left: 4px;
    font-size: 14px;

}

.cartacredito{
    padding: 2px;
    margin-left: 5px;
}

.cartao{
    border-radius: 7px;
    padding: 2px;
    margin-left: 5px;
}
.validade{
    border-radius: 7px;
    padding: 2px;
    margin-left: 5px;
    width: 35px;
}
.validad{
    border-radius: 7px;
    padding: 2px;
    margin-left: 5px;
    width: 35px;
}
.codigo{
    border-radius: 7px;
    padding: 2px;
    margin-left: 38px;
    width: 20%;
}
.cod{
    margin-left: 44px
}
.titular{
    border-radius: 7px;
    padding: 2px;
    margin-left: 5px;
}
.parcelas{
    border-radius: 7px;
    padding: 2px;
    margin-left: 5px;
}

/* ---------- DIV03 --------- */

#conteiner-c{
    background-color: #a157da;
    display: inline-block;
    margin-left: 426px;
    position: absolute;
    margin-top: 16px;
    width: 219px;
    padding: 7px;
    left: 35%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.10em;
    color: black;
  
}

/* ------------- DIV04 ----------- */

#conteiner-d{
    background-color: #EEEDED;
    margin-top: 45px;
    display: inline-block;
    margin-left: 396px;
    width: 233px;
    position:absolute;
}

.produto{
    margin-top: 15px;
    font-size: 13px;
    margin-left: 7px;
}

/* ---------- DIV05 ------------*/

#conteiner-e{
    background-color: #a157da;
    margin-top: 75px;
    display: inline-block;
    margin-left: 396px;
    width: 205px;
    position:absolute;
    padding: 14px;

}

.camisa{
    margin-top: 0px;
    font-size: 12px;
    margin-left: -5px;
}

/* ---------- DIV06 --------- */

#conteiner-f{
    background-color: #EEEDED;
    margin-top: 112px;
    display: inline-block;
    margin-left: 396px;
    position:absolute;
    width: 213px;
    padding: 10px;

}

.subtotal{
    margin-top: 0px;
    font-size: 12px;
    margin-left: -2px;
}

/* --------- DIV07 ---------*/

#conteiner-g{
    background-color: #a157da;
    margin-top: 140px;
    display: inline-block;
    margin-left: 396px;
    position:absolute;
    width: 213px;
    padding: 10px;
}

.botao{
    background-color: #02B513 ;
    border: #02B513;
    font-size: 17px;
    color: white;
    border-radius: 5px;
    width: 217px;
    margin-left: 410px;
    padding: 7px;
}
/* --------------- NAVEGAÇÃO (FIM) ------------- */

/* ------------ RODAPÉ (INÍCIO) ------------- */

footer {
    background-color: #afafaf;
    color: white;
    height: 145px;
    margin: 25px;
    margin-left: 0px;
    width: 1351px;

}

#footer-section-1 {
    margin-left: 50px;
    padding-top: 90;
}


#footer-marca {
    color: white;
    font-size: 45px;
    padding-top: 30px;
}

#footer-ponto {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #0DCAF0;
    margin-top: -16px;
    margin-left: 58px;
}

#tec-text {
    font-size: 9px;
    padding-top: 12px;
}

footer i {
    color: #424242;
    transform: scale(1.5);
}

#footer-insta {
    padding-top: 10px;
    margin-left: 13px;
}

#footer-face {
    position: absolute;
    margin-top: -18px;
    margin-left: 40px;
}

#footer-section-2{
    margin-top: -86px;
    margin-left: 350px;
}

.footer-section-titulo{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
}

.footer-section-text {
    font-size: 14px;
    padding-top: 4px;
}

#footer-section-3 {
    margin-top: -86px;
    margin-left: 745px;
}

#footer-section-3 a {
    color: white;
    font-size: 14px;
}

.footer-link-left{
    padding-top: 3px;
}

.footer-link-right{
    position: absolute;
    margin-top: -18px;
    margin-left: 110px;
}

#footer-section-4 {
    margin-top: -94px;
    margin-left: 1150px;
}

#footer-section-4 p {
    padding-top: 5px;
}

.logo-footer{
    position: absolute;
    transform: scale(0.6);
    margin-left: -55px;
    margin-top: -62px;
}

.logo-footer{
    position: absolute;
    transform: scale(0.6);
    margin-left: -45px;
    margin-top: -70px;
    
}

.div-central{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: center;

}


.footer-confirmacao{
    background-color: #afafaf;
    color: white;
    height: 145px;
    margin: 25px;
    margin-left: 0px;
    width: 1350px;
    margin-top:435px;
}

.body-confirmacao{
    background-color: #EEEDED;

}
.botaoconfirma{
text-decoration: none;
color: white;
}
/* -------------- RODAPÉ (FIM) -------------- */

